<div>
    <h3>Posts List</h3>
    <hr />
</div>

<div>
    <button class="btn btn-primary" [routerLink]="['add']">Add Post</button>
</div>

<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let post of posts">
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
            <td>
                <button
                    class="btn btn-primary"
                    [routerLink]="['edit', post.id]"
                >
                    Edit Post</button
                >&nbsp;
                <button
                    class="btn btn-success"
                    [routerLink]="['details', post.id]"
                >
                    View details</button
                >&nbsp;
                <button class="btn btn-danger" (click)="onDeletePost(post.id)">
                    Delete Post
                </button>
            </td>
        </tr>
    </tbody>
</table>
